<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.checktask">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CheckTask">
        <activity
            android:name=".PromodoroActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".TaskDetailsActivity"
            android:exported="true"
            android:theme="@style/detailScreenTheme">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".SplachActivity"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>